.container-navbar{
    background-color:#74C3EF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img{
    width: 90px;
    height: 35px;
    padding-left: 10px;
}
ul{
    list-style: none;
    display: flex;
    gap: 3rem;
    text-decoration: none;
}